body {
    background-color: #000000;
    color: white;
}

.info-container {
    background-color: #272621;
    color: white;
}

.info-box {
    background-color: #272621;
    color: white;
}

#important-info-section {
    background-color: #272621;
    color: white;
}

#contact-info-section {
    background-color: #272621;
}

.flex-container {
    background-color: #272621;
    color: white;
}
.info-boxes {
    background-color: #272621;
    color: white;
}

header {
    background-image: url(../img/1.jpg),
    linear-gradient(rgba(0,0,0,0.80),rgba(0,0,0,0.80));
    background-blend-mode: luminosity;
}

#important-info-section {
    background-color: #272621;
}

#countdown-section .bottom-white {
    background-color: #272621;
}
.fa-moon {
    font-size: 20px;
    color: yellow;
    margin-right: 5px;
}

.fa-sun {
    font-size: 20px;
    color: white;
    margin-left: 5px;
    visibility: hidden;
}

input[type="text"], textarea {
    background-color: #272621;
}